<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1>🪙 A Future I'd Like to Help Create</h1>
				</div>
			</div>
		</section>

		<div class="container min-vh-100">
			<div class="col-lg-6 col-md-8 mx-auto">

				<p>
					In my imagination, an idealistic but <i>possible</i> reality is decreasing oppression by spreading
					bitcoin worldwide. With star link and solar power, we could connect the entire world to a global
					economy while happily living a more tribal lifestyle, instead of being locked into suburban,
					corporate hell. Of course I understand that I am extremely privileged to be a programmer in the USA,
					I will
					address this. I think the US exists in this stupid suburban and corporate office world because of
					network infrastructure. As the Egyptians congregated around the Nile, the modern American
					congregates
					around network infrastructure, because through this infrastructure is how we create and receive
					value.
				</p>

				<p>
					Addressing first world privilege. First of all, I think It's irrefutable that many 9-5 office
					workers
					are more well off than laborers in survival circumstances. But to say we are thriving? Millions
					suffer deprivation of sunlight, obesity, loneliness, drug addiction, digital content addiction. We
					are more anxious and depressed than ever, is that really surprising? To me, bitcoin has more
					potential to alleviate this quiet suffering among first worlders and loud suffering among third
					worlders than any other technology I've seen.
				</p>

				<p>
					I think some global variables are lining up such that a more free world could emerge. With the USA
					off the gold standard and inflation off the charts, I believe average first worlders will look at
					stores
					of value segregated from government influence. Some percentage will buy bitcoin. When a first
					worlder puts a money into bitcoin for financial security, a third world citizen gets a slightly more
					powerful and relevant tool at their disposal.
				</p>

				<p>
					Empires and institutions that
					seem indestructible seem to break down eventually, look at the Roman Empire. The internet has
					changed the fabric of reality, giving previously incomprehensible freedoms into the hands of the
					individual again. As the course of time marches on and empires crumble, I hope the individuals with
					the insight to utilize this technology use it to make the world better, rather than letting new
					empires take advantage of us in incomprehensibly abhorrent ways. Anyway that sounds dramtic, but ya
					know anything could happen right?
				</p>

				<p>
					Helping South American cacao farmers afford their <i>own crop</i>, and end the exploitation caused
					by the current global
					economy. Enabling Women in the Middle East be paid for their work. Someday, the same farmer who uses
					their autonomous harvester can receive the
					same bitcoin for their corn as I do for writing code, but in the preferred community and geography
					of our choosing. This is the world I'd like to live in, and this is the vision that brings me
					purpose when I work.
				</p>


			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
