<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1> 🏃✅ Just Don't Escape Your Life </h1>
				</div>
			</div>
		</section>

		<div class="container min-vh-100">
			<div class="col-lg-6 col-md-8 mx-auto">
				<p>

					It's frightening how simple it is yet how many struggle profoundly with it.
				</p>

				<p>
					We have a set of tasks we could do to get where we want to be, and become who we want to become.
				</p>

				<p>
					Most people know what this set of things is. At the very least, they know the first step. It can be
					as
					simple as cleaning your room.
				</p>

				<p>
					But many of us exist in an anxious paralysis, not making progress, but not enjoying the present
					moment.
					Our time, the most finite and precious thing in the universe, goes utterly wasted.
				</p>

				<p>
					For most people, the problem frighteningly simple. Its that we are primitive dopamine driven animals
					existing in a hyper modernized world.
				</p>

				<p>
					Who honestly wants a salad after donuts for breakfast? But have you honestly tried a spinach salad
					with
					herbs, lemon, avocado, black pepper, after fasting for 16 hours?
				</p>

				<p>
					Who honestly wants to look at an excel spreadsheet, code a website, start an online business after
					watching tiktok for 8 hours.
				</p>

				<p>
					Who honestly wants to deal with fucking life when smoking weed and playing video games is an impulse
					away.
				</p>

				<p>
					If we choose to let our biological impulses dictate our actions, we are doomed to fail.
				</p>

				<p>
					Design your life with this in mind.
				</p>

				<p>
					Keep your enemies out of your home. Don't have donuts in your kitchen. Don't invest in a gamer lair
					that
					only exists to escape life and feel like shit afterwards.
				</p>

				<p>
					We can make it actually fun to spend the bulk of our time making progress (commonly referred to as
					"working"). We just cut out all the other bullshit, then the only thing left is making progress, and
					enjoying the present moment.
				</p>

				<p>
					Just stop escaping your life, and remove the triggers that keep you in that loop.
				</p>

				<p>
					Instead, use your finite time making progress. Watch the results accumulate, and earn confidence
					that
					you can do great things.
				</p>

				<p>
					Don't forget to enjoy life in the meantime. We only have one, and much like we can't rush losing
					weight,
					we can't rush success. Don't rush to the finish line of life (AKA death). Enjoy the race, get in a
					groove, feel the breeze, feel the presence of others, enjoy the sun.
				</p>

				<p>
					And do your best.
				</p>

			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
