<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1> 🏃✅ Just Don't Escape Your Life </h1>
				</div>
			</div>
		</section>

		<div class="container min-vh-100">
			<div class="col-lg-6 col-md-8 mx-auto">
				<p>

					It's frightening how simple it is yet how many struggle profoundly with it.
				</p>

				<p>
					We have a set of tasks we could do to get where we want to be, and become who we want to become.
				</p>

				<p>
					Most people know what this set of things is. At the very least, they know the first step. It can be
					as
					simple as cleaning your room.
				</p>

				<p>
					But many of us exist in an anxious paralysis, not making progress, but not enjoying the present
					moment.
					Our time, the most finite and precious thing in the universe, goes utterly wasted.
				</p>

				<p>
					For most people, the problem frighteningly simple. Its that we are primitive dopamine driven animals
					existing in a hyper modernized world.
				</p>

				<p>
					Who honestly wants a salad after donuts for breakfast? But have you honestly tried a spinach salad
					with
					herbs, lemon, avocado, black pepper, after fasting for 16 hours?
				</p>

				<p>
					Who honestly wants to look at an excel spreadsheet, code a website, start an online business after
					watching tiktok for 8 hours.
				</p>

				<p>
					Who honestly wants to fucking deal with life when smoking weed and playing video games is an impulse
					away.
				</p>

				<p>
					If we choose to let our biological impulses dictate our actions, we are doomed to fail.
				</p>

				<p>
					Understand that the human animal doesn't measure gratification absolutely, but relatively.
				</p>

				<p>
					Eating healthy can be delicious and fulfilling if you're comparing a homemade beef stew
					to raw carrots or nothing (fasting).
				</p>

				<p>
					Working can be fun and engaging if the alternative is doing nothing.
				</p>

				<p>
					Design your life with this in mind.
				</p>

			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
