<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body data-bs-theme="light">

	<main>

		{{ template "header.tmpl" }}

		<section class="pt-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1>Welcome to my 🧠.</h1>
					<p>Hi all. If you're here and actually interested in my thoughts, that's awesome, I'm glad the internet has connected us.</p>
					<p>As someone who's spent <i>way</i> too much time absorbing words alone, either on a screen, book, or podcast, It's not every day I meet people to connect with on this level. </p>
					<p>Feel free to reach out to me personally <a href="mailto:matta00@pm.me">matta00@pm.me</a>, I'd love to talk about some of these ideas more. </p>
				</div>
			</div>
		</section>

		<div class="container min-vh-100">
			<div class="col-md-8 mx-auto mt-4">

				<div class="card text-center mt-4"> <div class="card-body"> <a href="/blog/decentralized-society">
					🌄 Decentralized Society- 2023-07-28
				</a> </div> </div>
				
				<div class="card text-center mt-4"> <div class="card-body"> <a href="/blog/an-exciting-future">
					🪙 A Future I'd Like to Help Create - 2023-05-17
				</a> </div> </div>

			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
