<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body data-bs-theme="light">

	<main>

		{{ template "header.tmpl" }}

		<div class="container min-vh-100">
			<div class="col-md-8 mx-auto mt-4">

				<div class="card text-center mt-4">
					<div class="card-body"> <a href="/blog/just-dont-escape-your-life">
							🏃✅ Just Don't Escape Your Life - 2023-11-27
						</a> </div>
				</div>

				<div class="card text-center mt-4">
					<div class="card-body"> <a href="/blog/decentralized-society">
							🌄 Decentralized Society - 2023-07-28
						</a> </div>
				</div>

				<div class="card text-center mt-4">
					<div class="card-body"> <a href="/blog/an-exciting-future">
							🪙 A Future I'd Like to Help Create - 2023-05-17
						</a> </div>
				</div>

			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
