<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Thriving in Modern Society</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1>📖 Thriving in Modern Society</h1>
					<p>In an era where the glow of screens outshines the sun, and where instant gratification threatens to ensnare us, "Thriving in Modern Society" is your roadmap to reclaiming genuine life fulfillment. Amidst the temptations, how do we tap into the true power of the Information Age without becoming its captive?</p>
					<p>Discover how to leverage the limitless capabilities of the Information Age without succumbing to its addictive pitfalls, such as algorithm-driven media and instant gratifications. Drawing from hands-on experience and success in this hyper-connected era, this book provides a blueprint for harmoniously integrating AI and modern tools into a purposeful life. The future is digital, but it's up to you to define its role in your life.</p>
					<p>"Thriving in Modern Society" does a spectacular job outlining how to live a happy, meaningful life in the modern world which is so filled with opportunity, but also countless new obstacles. It isn't perfect everywhere and surely contains flaws, but I seriously gained a burst of insight and I'm certain that you out there will too.</p>
				</div>
			</div>
		</section>

		<div class="container">
			<div class="col-md-8 mx-auto mt-4">

				<div class="card text-center mb-4">
					<div class="card-body"> <a href="https://mattapmme.gumroad.com/l/bsbrzs">
							Download "Thriving in Modern Society" Here ($10)
						</a> </div>
				</div>


			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
