<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cloud Software Group</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h1>SWE @ Cloud Software Group</h1>
				<p>May 2020 – Present</p>
				<ul>
					<li>Collaborated with a team of six to imagine, design, build, and test MSGMX, an
						interactive CLI tool for managing various messaging systems.</li>
					<li>Implemented GitHub Actions workflows for automated building and testing in the cloud,
						saving hours of manual regression testing.</li>
					<li>Containerized messaging service environments, simplifying the process of configuring
						messaging systems.</li>
					<li>Implemented Swagger for FTL using go-swagger, which automatically generates an
									interactive REST UI in the browser based on internal server data structures, vastly more
									consistent and quick than manually creating a specification.</li>
				</ul>

			</div>
		</div>


		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
