<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Driving Simulator</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h1>SAUVVI Driving Simulator</h1>

				<p>During my sophomore year, I joined a multidisciplinary team of five, consisting of individuals from mechanical engineering, design, and computer science backgrounds, with the ambitious goal of creating a driving simulator using Unity 3D.</p>
				
				<p>As the sole computer science member, I was entrusted with the primary responsibility for the software development aspect of the project. This role allowed me to delve deep into Unity 3D, exploring its capabilities and applying them to our objective.</p>
				
				<p>Despite the inherent challenges and the diverse expertise within our group, I leveraged my knowledge and skills to ensure the software component of the simulator was robust and efficient, contributing significantly to the project.</p>

			</div>
		</div>

		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<img src="/public/images/driving_software.jpg" class="w-75 rounded shadow mt-4"/>
					<img src="/public/images/driving_rig.png" class="w-75 rounded shadow mt-4"/>

				</div>
			</div>
		</section>


		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
