<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DS&A</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h3>Teaching Assistant - Data Structures and OOP TA</h2>
				<p>August 2019 – May 2020</p>
				<ul>
					<li>Independently hosted TA sessions for Data Structures and Algorithms in Python,
						introducing concepts such as time complexity, space complexity, linked lists, trees, and
						more.</li>
					<li>Helped teach Java to introductory computer science students, including basic programming
						and OOP principles such as objects, arrays, loops, and more.</li>
				</ul>

			</div>
		</div>

		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
