<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Illinois Tech</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h1>Illinois Institute of Technology, Chicago IL<h1>
				
				<h4>May 2021 – GPA: 3.6/4</h4>
				
				<p>Bachelor of Science in Computer Science</p>
				
				<p>Coursework: Data Structures and Algorithms, Systems Programming, Computer Graphics, Discrete Structures, OOP.</p>

			</div>
		</div>

		{{ template "footer.tmpl" }}

	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
