<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Linux</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h1>Linux and Server Administration</h1>
				<h4>May 2015 - Present</h4>

				<p>In my early years, I was captivated by the world of Linux, beginning my exploration with Ubuntu. As I delved deeper, Arch Linux honed my technical skills, teaching me the intricacies of system management. However, it was Debian's stability and reliability that truly resonated with me.</p>

				<p>This personal journey through Linux has not only been a source of passion but has also played a pivotal role in shaping my career trajectory.</p>

			</div>
		</div>

		<section class="py-5 text-center container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<img src="/public/images/neovim.png" class="w-75 rounded shadow mt-4"/>
					<img src="/public/images/ahhhh.jpg" class="w-75 rounded shadow mt-4"/>
					<img src="/public/images/gettingbetter.jpg" class="w-75 rounded shadow mt-4"/>
					<img src="/public/images/horrifying.jpg" class="w-75 rounded shadow mt-4"/>
					<p class="mt-4">where it begun ;)</p>
				</div>
			</div>
		</section>


		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
