<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PayPal Hack</title>
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/custom.css" rel="stylesheet">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}


		<div class="container text-center">
			<div class="col-md-8 mx-auto mt-4">

				<h3>PayPal Hack Chicago 2019</h2>
				<ul>
					<li>Developed a KaiOS mobile application to help individuals escape poverty. This won the
						“Most Feasible” award at PayPal Hack Chicago, where $100 was donated to a charity of our
						choice.</li>
					<li>Attended HackIllinois, most notably contributed to the Anaconda project where I fixed
						bugs in source code.</li>
				</ul>

			</div>
		</div>


		{{ template "footer.tmpl" }}
	</main>

	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/public/js/darkmode.js" crossorigin="anonymous"></script>
</body>

</html>
